@import 'global.css';

.frame
{
    background-image:linear-gradient(rgba(247,247,247,1),rgba(151,151,151 ,1));
    width:100%;
    height:100%;
    padding:1%;
    margin:auto;
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-start;
    overflow-y:auto;
}

.frame---view-panel
{
    padding:0.3rem;
    max-width:13rem;
    overflow-x:hidden;
    word-wrap:break-word;
}

.frame---tool-panel
{
    display:table;
    position:sticky;
    top:0;
}

.frame---navigation-button
{
    display:table;
    font-size:0.81rem;
    padding:0.13rem;
}